{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 profile-details">
      <h2>Informations personnelles</h2>
      <ul>
        <li>
          <img
            src="{% static 'img/user.png' %}"
            alt="Avatar de l'utilisateur"
            class="avatar"
          />
          Nom Utilisateur: {{ user.code_user}}
        </li>
        <li>
          <img
            src="../../../static/img/email.png"
            alt="Icône d'e-mail"
            class="icon"
          />
          Email: {{ user.email }}
        </li>
        <li>
          <img
            src="../../../static/img/password.jpeg"
            alt="Icône d'e-mail"
            class="icon"
          />
          Password: {{ user.password }}
        </li>
        <!-- Ajoutez d'autres informations personnelles ici -->
      </ul>
      <div class="profile-actions">
        <a href="{% url 'deconnexion' %}">
          <img
            src="../../../static/img/deconnect.jpeg"
            alt="Déconnexion"
            class="icon"
          />
        </a>
        <a href="{% url 'modification_profil' %}">
          <img
            src="../../../static/img/edit.jpeg"
            class="icon"
            alt="Modifier le profil"
          />
        </a>
      </div>
    </div>
    <div class="col-md-6 image-container">
      <img
        src="../../../static/img/carrousel/img3.png"
        alt="Image de profil"
        class="profile_image"
      />
    </div>
  </div>
</div>
{% endblock %} {% block extra_js %}
<!-- <script type="text/javascript" src="{% static 'js/profil.js' %}"></script> -->
{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profil.css' %}" />
{% endblock %}
