<!-- icone 
 <li>
              <a href="https://www.facebook.com/votre-page" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/votre-page" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <!-- Icône de chat -->
<!-- <li>
              <a href="#" onclick="openChat()">
                <i class="fas fa-comment-dots"></i>
              </a>
            </li>
          </ul> -->
-->
